<link href="/style.css" rel="stylesheet" type="text/css">
<h1>Residential Drunk Photo Caption Contest</h1>
<p>Hi <%= username%></p>
<a href="/images/1">Photo 1</a>
<a href="/images/2">Photo 2</a>
<a href="/images/3">Photo 3</a>
<a href="/images/4">Photo 4</a>
<br><br>
<a href="/logout">Log out</a>